body {
  font-size: 16px;
  color: #666;
  font-family: "Arial", "Microsoft YaHei", "montserrat-light-webfont", "STHeiti", "\534E\6587\9ED1\4F53", "SimHei", "\9ED1\4F53", "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", sans-serif;
  
  * {
    outline: none!important;
  }

}

.main-content {
  width: 100%;
  display: flex;

  .left-menu, .right-content {
    height: calc(100vh - 72px);
    overflow-y: auto;
  }

  .left-menu {
    width: 250px;
    background-color: #424b4f;
    color: #ffffff;
  }
  
  .right-content {
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 5px;
  }

}

/* 全局通用的 router-view 过渡效果 */
.fade-transition {
  transition: opacity .1s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}