/* 公共样式  */
$body-font: "Arial", "Microsoft YaHei", "montserrat-light-webfont", "STHeiti", "\534E\6587\9ED1\4F53", "SimHei", "\9ED1\4F53", "microsoft yahei", "\5FAE\8F6F\96C5\9ED1", sans-serif;

body {
  font-size: 16px;
  color: #666;
  font-family: $body-font;
  
  * {
    outline: none!important;
  }

}

.main-content {
  width: 100%;
  display: flex;

  .left-menu, .right-content {
    height: calc(100vh - 72px);
    overflow-y: auto;
  }

  .left-menu {
    width: 220px;
    background-color: #38444a;
    color: #ffffff;
  }
  
  .right-content {
    flex: 1;
    background-color: #f7f7f7;
    border-radius: 5px;
  }

}

/* 全局通用的 router-view 过渡效果 */
.fade-transition {
  transition: opacity .1s ease;
}

.fade-enter, .fade-leave {
  opacity: 0;
}


/* 单行省略 */
.txt-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-all;
}

/* 灰色边框 */
$gray-border: 1px solid #e3e3e3;


/* 文字对齐 */
.tl-l {
  text-align: left!important;
}

.tl-r {
  text-align: right!important;
}

.tl-c {
  text-align: center!important;
}

