/* 左侧导航菜单样式 */
.left-menu {

  .recent-notes-title {
    margin: 10px;
  }

  .recent-notes, .menu-list {
    padding: 0;
    list-style: none;
  }

  /* 最近笔记 */
  .recent-notes {

    .note-link {
      height: 25px;
      line-height: 25px;
      padding: 0 20px;
      font-size: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      word-break: break-all;
      white-space: nowrap;
      cursor: pointer;

      .link-a {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
        width: 100%;
      }

    }

    .note-link.active {
      background-color: #1e91e1;
    }

  }

  /* note、notebook、tags 页面模块链接 */
  .menu-list {
    padding-top: 10px;
    border-top: 2px solid #50595d;

    .menu-link {
      height: 40px;
      line-height: 40px;
      cursor: pointer;
      transition: background-color .1s ease;

      .vlink {
        color: #ffffff;
        text-decoration: none;
        text-indent: 20px;
        display: block;
        padding-left: 35px;
        font-size: 14px;

        &.notes-link::before, &.notebooks-link::before, &.tags-link::before {
          font-family: 'FontAwesome';
          position: absolute;
          left: 0;
          font-size: 26px;
        }

        &.notes-link::before {
          content: "\f249";
        }

        &.notebooks-link::before {
          content: "\f02d";
        }

        &.tags-link::before {
          content: "\f02c";
        }

      }

      .vlink.active {
        background-color: #1e91e1;
      }

    }

  }

}