.notification-bg {
  position: fixed;
  z-index: 9999;

  .notification-item {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 250px;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    background: #fff;
    padding: 16px;
    border-radius: 4px;
  }

  .notification-icon {
    position: absolute;
    height: 20px;
    width: 20px;
    font: normal normal normal 16px FontAwesome;
    line-height: 20px;
  }

  .icon-success::before {
    content: "\f058";
    color: #00a854;
  }
  
  .icon-warn::before {
    content: "\f06a";
    color: #ffbf00;
  }
  
  .icon-info::before {
    content: "\f05a";
    color: #108ee9;
  }

  .icon-error::before {
    content: "\f057";
    color: #f04134;
  }

  .notification-content {
    padding-left: 25px;
    font-size: 12px;
    line-height: 20px;
    min-height: 20px;
  }

}