.radio-group {
  position: relative;
  display: inline-block;

  .radio-item {
    display: inline-block;

    .radio-label {
      display: inline-block;
      height: 20px;
      line-height: 18px;
      margin: 0;
      font-size: 12px;
      font-weight: normal;
      padding: 0 10px;
      border: 1px solid #d2d2d2;
      border-right: none;

      &.radio-label-first {
        border-radius: 5px 0 0 5px;
      }

      &.radio-label-last {
        border-radius: 0 5px 5px 0;
        border-right: 1px solid #d2d2d2;
      }

      &.radio-label-active {
        background-color: #797979;
        color: #ffffff;
      }

    }

  }

}