@keyframes progressAnimation {
  
  0% {
    width: 20%;
  }

  5% {
    width: 80%;
  }

  10% {
    width: 95%;
  }

  100% {
    width: 99%;
  }
  
}

@keyframes loadingComplete {


  99% {
    width: 100%;
  }

  100% {
    display: none;
  }
  
}

@keyframes loadingAnimation {

  0% {
    left: -15px;
  }

  33% {
    left: -15px;
  }

  80% {
    left: calc(100% - 7px);
  }

  100% {
    left: 100%;
  }

}

.req-loading-bg {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  height: 4px;
  width: 100%;
  padding: 0;

  .loading-progress, .loading-complete {
    position: relative;
    background: #1dbbff;
    width: 0;
    height: 100%;
    overflow: hidden;

    .loading-animation {
      position: absolute;
      left: 0;
      height: 100%;
      width: 0;
      box-shadow: 0px 0px 15px 12px #c0ebfc;
      animation: loadingAnimation 3s infinite linear;
    }

  }
  .loading-progress {
    animation: progressAnimation 60s both linear;
  }

  .loading-complete {
    animation: loadingComplete 1s both linear;
  }

}